#logo{
    float: left;
    margin-left: 15%;
}
#logo img{
    width: 200px;
    height: 60px;
}

#photo img{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1125px;
    height: 375px;
}
#info span{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}
#date{
    width: 100px;
}
#nani{
    width: 100px;
}
#naiyo{
    width: 500px;
}
#info span{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    max-width:  800px;
    text-align: center;
    margin-left: 11.5%;
}

.box {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
#tenMon{
    margin-top:5px;
    vertical-align:top;
    height: 40px;
}
#tenMon a{
    font-weight:bold;
    text-decoration: none;
    color:#000;
    font-size:14px;
}
#tenMon a:hover{
    color: #000;
}
#hinhAnh{
    width: 150px;
    height: 200px;
}
#hinhAnh:hover{
    transfrom: scale(1.1);
}
#donGia {
    margin-top:10px;
    font-size:30px;
}
#donGia span{
    color:red;
    font-size: 30px;
    font-weight:bold;
}
#nutchonmua {
    height:30px;
}
footer{
    background-color: #000;
}
footer p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
